.head-item {
    padding-bottom: 15px;
}

.search {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.redes {
    display: flex;
    justify-content: space-between;
}

.menu {
    background-color: $primary-color;
    color: $white-color;
    ul {
        padding: 10px;
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
    }
}

.nav-mobile {
    padding-bottom: 15px;
    border-bottom: 2px solid $primary-color;
    margin: 0 auto;
    div {
        padding: 0;
        &:nth-child(2) {
            text-align: right;
            margin-top: 5px;
        }
    }
}
