$primary-color:#F7B617;
$gray-color:#2B2B2B;
$white-color:#fff;

@import 'header';
@import 'noticia';
@import 'carrousel';
@import 'footer';    

body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}
